* {
  font-family: Poppins, arial, freesans, clean, sans-serif;
  padding: unset;
  margin: unset;
  --primary: #384896;
  --primaryLight: #8196ff;
  --background1: rgb(57, 62, 64);
  --background2: rgb(48, 52, 54);
  --background3: rgb(42, 45, 47);
  --background4: rgb(30, 32, 35);
  --box-shadow: rgba(0, 0, 0, 0.16) 0 6px 22px 0;
  --border-radius: 12px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background-color: var(--background1);
  color: white;
  overflow-x: hidden;
}

main {
  min-height: 100vh;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--background4);
}

::-webkit-scrollbar-thumb {
  background: var(--background2);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--background1);
}

/* Animations */

@keyframes floatUp {
  0% {
    opacity: 0;
    transform: translate(0, 30px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.floatUp {
  animation: floatUp 0.5s ease-in-out;
}

@keyframes floatDown {
  0% {
    opacity: 0;
    transform: translate(0, -30px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.floatDown {
  animation: floatDown 0.5s ease-in-out;
}

/* Legacy */

.versionlabel {
  color: #ffd300;
  font-weight: bold;
}

.ellipsis {
  text-overflow: ellipsis;
}

/* Games page */

#serverlist td.grouprow {
  font-size: 11px;
  padding: 7px 0 3px 0;
  vertical-align: middle;
  border-bottom: 1px #fff solid;
}

#serverlist td.grouprow img {
  vertical-align: middle;
  padding-right: 5px;
  margin-top: -3px;
}

#serverlist .ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gameWaiting {
  color: #F80;
}

.gamePlaying {
  color: #0A0;
}

.gameEmpty {
  color: #FFF;
}

#serverlist .greyout {
  color: #999;
}

#serverlist .greyout .gameWaiting {
  color: #740;
}

#serverlist .greyout .gamePlaying {
  color: #050;
}

#serverlist .greyout .gameEmpty {
  color: #999;
}

/* Hero */

.heroContainer {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)),
    url("images/web/gameplay1-min.png");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  background-size: cover;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.heroParent {
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  width: 100%;
  flex: 2;
  justify-content: center;
}

.heroHeader {
  align-items: center;
}

.heroIcon {
  width: 70px;
  height: 70px;
}

.heroTitle {
  font-size: 3.2rem;
}

.heroDescription {
  font-size: 1.3rem;
  max-width: 100%;
  text-align: center;
}

.heroChild {
  display: flex;
  width: 100%;
  max-width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 55, 64, 0.7);
  border: 2px solid var(--background3);
  width: fit-content;
  border-radius: var(--border-radius);
  padding: 16px;
  backdrop-filter: blur(4px);
}

/* Overview */

.overviewContainer {
  display: flex;
  flex-direction: column;
  gap: 64px;
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)),
    url("images/web/map-min.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.overviewLeft {
  width: 85%;
}

.overviewRight {
  width: 85%;
  margin-left: auto;
}

.overviewParent {
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 25px 0;
  background: linear-gradient(to bottom, var(--background1), var(--background2));
}

@media (max-width: 700px) {
  .overviewParent {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
  }
}

.overviewInverse {
  display: flex;
  flex-direction: row;
}

@media (max-width: 700px) {
  .overviewInverse {
    flex-direction: column;
  }
}

.overviewImage {
  width: 80%;
  max-height: 55vh;
  object-fit: cover;
}

@media (max-width: 700px) {
  .overviewImage {
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 25px 0;
    border-radius: var(--border-radius);
    margin: auto 0;
  }
}


.overviewContent {
  padding: 16px;
}

@media (max-width: 700px) {
  .overviewContent {
    padding: 0;
  }
}

/* Showcase */

.showcaseImage {
  width: 80%;
  max-height: 50vh;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 25px 0;
  border-radius: var(--border-radius);
}

.showcaseContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.showcaseChild {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 50%;
}

.showcaseDescription {
  width: 70%;
  max-width: 50vw;
}

@media (max-width: 700px) {
  .showcaseDescription {
    width: 90%;
    max-width: 90vw;
  }
}

.iframe {
  max-width: 90%;
}

/* Footer */

.footerParent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 32px;
  gap: 16px;
  background: var(--background3);
}

.footerHeader {
  align-items: center;
  justify-content: center;
}

.footerIcon {
  width: 50px;
  height: 50px;
}

/* Games */

.gamesTableContainer {
  border-radius: var(--border-radius);
  background: var(--background1);
}

.gamesTable {
  all: unset;
  table-layout: fixed;
}

.gamesTable th:first-child {
  padding: 12px;
}

.gamesTable td {
  padding: 12px;
  border-top: 1.5px solid var(--background3);
}


/* General */

.h1 {
  font-size: 3rem;
}

.h2 {
  font-size: 2.1rem;
}

.h3 {
  font-size: 1.4rem;
}

.h4 {
  font-size: 1.1rem;
}

.headerSoft {
 font-weight: 400; 
}

.p1 {
  font-size: 1.3rem;
  font-weight: 400;
}

.p2 {
  font-size: 1.05rem;
  font-weight: 400;
}

.textCenter {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.rowCollapsible {
  display: flex;
  flex-direction: row;
}


@media (max-width: 700px) {
  .rowCollapsible {
    flex-direction: column;
  }
}

.rowCollapsibleInverse {
  display: flex;
  flex-direction: row;
}


@media (max-width: 700px) {
  .rowCollapsibleInverse {
    flex-direction: column;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.centerRow {
  justify-content: center;
}

.centerColumn {
  align-items: center;
}

.width100 {
  width: 100%;
}

.heightvh {
  height: 100vh;
}

.gapSmall {
  gap: 12px;
}

.gapMedium {
  gap: 24px;
}

.paddingSmall {
  padding: 12px;
}

.paddingMedium {
  padding: 24px;
}

.paddingLarge {
  padding: 48px;
}

.section {
  padding: 48px 5%;
  flex-direction: column;
}

.container {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.link {
  text-decoration: none;
  color: var(--primaryLight);
}

.link:hover {
  text-decoration: underline;
}

.link:visited {
  text-decoration: underline;
}

.buttonPrimary {
  text-align: center;
  margin-top: 5px;
  padding: 10px 30px;
  max-width: 256px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--primary);
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  box-shadow: var(--box-shadow), inset 0 0 1px rgb(255 255 255 / 21%);
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset rgba(0, 0, 0, 0) 0 0 0 0;
  transition: all 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.buttonPrimary:hover {
  box-shadow: inset rgba(0, 0, 0, 0.15) 0 0 0 1000px;
}

.background1 {
  background-color: var(--background1);
}

.background2 {
  background-color: var(--background2);
}

.background3 {
  background-color: var(--background3);
}

.background2To1 {
  background: linear-gradient(to bottom, var(--background2), var(--background1));
}

.imageToSolid {
  padding: 32px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

.solidToImage {
  padding: 32px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}